@import url('https://fonts.cdnfonts.com/css/lets-coffee');
html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
p{
    background-color: beige;
    padding: 50px;
    border-radius: 40px 5px 40px 5px;
    box-shadow: 20px;
}
.Quotebox__title{
    text-shadow: 3px 3px 0px lightblue;
}

.Quotebox__author{
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2),
    0 0 10px rgba(255, 255, 255, 0.8),
    -1px -1px 1px rgba(0, 0, 0, 0.2);
}